meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
title simpleAuth
meta(name='description' content='')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

link(rel="stylesheet" href="/static/css/libs/normalize.css" media="screen")
link(rel="stylesheet" href="/static/css/main.css" media="screen")