doctype html
html
    include includes/head.pug
    body
    div(class="wrapper")
        div(class="inner-wrapper")
            header
            h1 Welcome to simpleAuth

            ul(class="button-wrapper")
                li
                    a(class="button button-wide register" href="/register") register
                li
                    a(class="button button-wide login" href="/login") login
